*{
    margin:0px;
    padding:0px;
}

.one{
    display:flex;
    justify-content:flex-start;
   }
   .two{
    display: flex;
    justify-content: flex-end;
}
.three{
    display: flex;
    justify-content: flex-end;
}
 @media screen and  (max-width: 768px) {
    .one{
        justify-content: center;
    }
    .two{
        justify-content: center;
    }
    .three{
        justify-content: center;
    } 
 }
 @media screen and  (min-width: 768px) {
    .one{
        display: flex; 
    }
    .two{
        display: flex;
        justify-content: flex-end;
    }
    .three{
        display: flex;
        justify-content: flex-end;
    } 
    .four{
        display: flex;
        justify-content: center;
    }
 }
 
.add{
     background-color:rgb(161, 156, 156);
}
ul li{
    display:inline-block;
    list-style:none;
}

.card{
    border: 1px solid rgb(66, 64, 64);
    box-shadow: 5px 3px 5px 5px grey;
}
.card >h2{
    color:rgb(153, 150, 150);
    padding-left:5px;
}


 

    
    