*{
    margin:0px;
    padding:0px;
}
.topnav{
    /* background-color: lightslategray; */
    height:30px;
    padding:5px;
    max-width:900px;
    margin:auto;
}
.one{
    /* background-color:green; */
    display:flex;
   }
   .two{
    /* background-color:rgb(181, 181, 238); */
    display: flex;
    justify-content: flex-end;
}
.three{
    /* background-color:rgb(171, 171, 245); */
    display: flex;
    justify-content: flex-end;
}
 @media screen and  (max-width: 768px) {
    .one{
        /* background-color:rgb(136, 116, 116); */
        justify-content: center;
    }
    .two{
        /* background-color:blue; */
        justify-content: center;
    }
    .three{
        /* background-color:blue; */
        justify-content: center;
    } 
 }
 @media screen and  (min-width: 768px) {
    .one{
        /* background-color:rgb(148, 137, 137); */
        display: flex;
       
    }
    .two{
        /* background-color:rgb(99, 99, 150); */
        display: flex;
        justify-content: flex-end;
    }
    .three{
        /* background-color:rgb(107, 107, 150); */
        display: flex;
        justify-content: flex-end;
    } 
 }
 .header{
    /* background-color: lightslategray; */
    position: relative;
    height:60px;
    padding:5px;
    max-width:900px;
    margin:auto;
}
.add{
    position: relative;
    background-image:url("./waterfall.jpg");
   opacity: .6;
    height:200px;
    
}

    
    